---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { site } from "@data/siteMetadata";
import PostHeader from "@components/mdx/PostHeader.astro";
import RssXml from "@components/rss/RssXml.astro";
import WriteFile from "@components/rss/WriteFile.astro";

const workPosts = (
  await getCollection("work", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
)
  // parse slug to simplify intermediate folders
  .map((post) => ({
    ...post,
    // astro default add all intermediate folder into slug. i want top-level routes only.
    // but transforming slug is giving me an error when used in IndexListItem
    // workaround is to manually define slug in frontmatter in each post (permalink)
    // slug: parseSlug(post.slug),
  }))
  // reverse-chronological order
  .reverse();
// only index published posts
// .filter((post) => post.data.published === true);

// for RSS, need to send both data to construct all the fields necessary in feed.xml
const allPosts = [...workPosts];
const allMdx = (await Astro.glob("@content/work/**/*.mdx")).reverse();

// console.log(allPosts[0].data.draft);
// console.log(allMdx[0].frontmatter.draft);
---

<style is:global>
  .fadeout:before {
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    background: linear-gradient(to right, transparent 10px, white 80%);
    overflow: hidden;
    pointer-events: none;
  }
  article:hover .fadeout:before {
    background: linear-gradient(to right, transparent 10px, black 80%);
  }
</style>

<Layout title={"Index"} description={site.description}>
  <ul>
    {
      allPosts.map((post) => (
        <li class="hover:bg-black hover:text-white">
          <a href={`/${post.slug}`}>
            <PostHeader post={post} />
          </a>
        </li>
      ))
    }
  </ul>
  <WriteFile fileUrl={"./dist/feed.xml"} slot="rss-writer">
    <RssXml allPosts={allPosts} allMdx={allMdx} slot="rss-writer" />
  </WriteFile>
</Layout>
