---
import { Image as AstroImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"work" | "writing">;
  thumbnail?: ImageMetadata;
  class?: string;
};

const { post, thumbnail, class: className } = Astro.props;
const {
  data: { title, published, date },
} = post;
const year = new Date(date).getFullYear();
---

<a
  href={`/${post.id}`}
  data-post-slug={post.id}
  class:list={["group mb-0 block border-r border-b border-black", className]}
>
  <div class="relative mb-0 aspect-[4/3] overflow-hidden bg-gray-100">
    {
      thumbnail ? (
        <AstroImage
          src={thumbnail}
          alt={title}
          class="h-full w-full scale-[1.01] object-cover transition-transform duration-200"
        />
      ) : (
        <div class="relative h-full w-full bg-transparent">
          <svg
            class="absolute inset-0 h-full w-full"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
          >
            <rect
              x="0.5"
              y="0.5"
              width="99"
              height="99"
              fill="none"
              stroke="black"
              stroke-width="1"
              vector-effect="non-scaling-stroke"
            />
            <line
              x1="0"
              y1="0"
              x2="100"
              y2="100"
              stroke="black"
              stroke-width="1"
              vector-effect="non-scaling-stroke"
            />
            <line
              x1="100"
              y1="0"
              x2="0"
              y2="100"
              stroke="black"
              stroke-width="1"
              vector-effect="non-scaling-stroke"
            />
          </svg>
        </div>
      )
    }
    <div
      class="absolute inset-0 flex flex-col justify-end bg-black/100 p-4 text-white opacity-0 group-hover:opacity-100"
    >
      {!published && <span class="text-red-500">(NOT PUBLISHED)</span>}
      <span>{title}</span>
      <span>{year}</span>
    </div>
  </div>
  <!-- <h2 class="leading-snug m-0"> -->
  <!--   { -->
  <!--     !published && ( -->
  <!--       <span class="text-red-500 font-semibold">(NOT PUBLISHED) </span> -->
  <!--     ) -->
  <!--   } -->
  <!--   {title} -->
  <!-- </h2> -->
</a>
