---
// TODO:
// - handle multiple links

import type { Activity } from "@data/activities";
import { getEntry } from "astro:content";
import moment from "moment";

const { data, showWorkTitle = false } = Astro.props as {
  data: Activity;
  showWorkTitle?: boolean;
};
const { slug, date, title, role, place, city, country, link } = data;

const query = slug || "nonenonenone";
const entry = await getEntry("work", query);
const workTitle = entry?.data.title;
---

<li role="listitem" class="">
  {showWorkTitle && workTitle && <span>{workTitle} - </span>}
  {role && <span>{role} at </span>}
  {
    link ? (
      <a href={Array.isArray(link) ? link[0] : link} target="_blank">{title},</a>
    ) : (
      <span>{title},</span>
    )
  }
  {place && <span>{place},</span>}
  {city && <span>{city},</span>}
  {country && <span>{country},</span>}
  <span>{moment(date).year()}</span>
</li>
