---
// TODO:
// - apply width and height to figure wrapper to avoid layout shift.
//  - get-video-dimensions works but needs ffprobe binary.
//  - props passed in don't work. i think it's because of number vs. string in css var.
//  - what about attr passed to <video>? is it working?

type Props = {
  /** Path string */
  src: string;
  title?: string;
  caption?: string;
  width?: number;
  height?: number;
  controls?: boolean;
  autoplay?: boolean;
  /** Additional classes to add to the wrapper div */
  mb?: boolean;
  class?: string;
};
const {
  src,
  title,
  // caption,
  width,
  height,
  controls = true,
  autoplay = false,
  mb,
  class: className,
} = Astro.props;

const lastDotIndex = src.lastIndexOf(".");
const videoPoster = src.slice(0, lastDotIndex) + ".png";

const w = width || 1080;
const h = height || 1080;
---

<style is:global define:vars={{ w, h }}>
  video.video {
    width: 100%;
    aspect-ratio: var(--w) / var(--h);
  }
</style>

<div class:list={["video-wrapper bg-gray-500", mb && "mb-8", className]}>
  <video
    src={src}
    poster={videoPoster}
    title={title}
    width={width}
    height={height}
    controls={controls}
    loop
    muted
    playsinline
    autoplay={autoplay}
    class:list={["video", "w-full h-full object-cover"]}
  >
  </video>
</div>
