---
type Props = {
  /** Path string */
  src: string;
  width?: number;
  height?: number;
  autoplay?: boolean;
  /** Additional classes to add to the wrapper div */
  mb?: boolean;
  class?: string;
};
const { src, width, height, autoplay, mb, class: className } = Astro.props;

{
  /* <div className="video-wrapper">
<video controls muted loop>
{mp4 ? <source type="video/mp4" src={mp4}></source> : null}
{webm ? <source type="video/webm" src={webm}></source> : null}
</video>
</div> */
}
---

<div class:list={["video-wrapper mb-8", mb && "mb-8", className]}>
  <video
    src={src}
    width={width}
    height={height}
    autoplay={autoplay}
    controls
    loop
    muted
    playsinline
  >
  </video>
</div>
