---
import "@fontsource-variable/inter"; // safe option
import "@fontsource-variable/karla"; // wider tracking

import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import PostHeader from "@components/mdx/PostHeader.astro";

interface Props {
  title: string;
  description: string;
  post?: CollectionEntry<"work" | "writing">;
  prevPost?: CollectionEntry<"work" | "writing">;
  nextPost?: CollectionEntry<"work" | "writing">;
}

const { title, description, post, prevPost, nextPost } = Astro.props;

const pathname = Astro.url.pathname;
const isRoot = pathname === "/";
---

<!doctype html>
<html lang="en" class="h-full">
  <Head
    title={title || post?.data.title}
    description={description || post?.data.description}
    id={post?.id}
    slug={post?.slug}
  />

  <body class="h-full text-xl">
    <Header prevPost={prevPost} nextPost={nextPost} />
    {post && <PostHeader post={post} />}
    <div class="flex flex-col h-full">
      <main class:list={["grow", isRoot && "mt-9"]}>
        <slot />
      </main>
      <Footer class="" />
    </div>

    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <slot name="rss-writer" />
  </body>
</html>
